<!--<!DOCTYPE html>
<html>
    
</html>-->


<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Zeppelin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="css/util.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <!--===============================================================================================-->
    </head>
    <body>

        <div class="limiter">                    
            <center><h2>Welcome to zeppelin<h2></center>
            <div class="container-login100" style="background-image: url('app/webroot/img/bg-01.jpg');">
                <div class="wrap-login100">
                    <body>
                        <form enctype="multipart/form-data" method="post" action="/FileUpload/uploadFile">
                            Choose your file here:
                            <input name="uploaded_file" type="file"/><br /><br />
                            <input type="submit" value="Upload It"/>
                        </form>

                    </body>
                </div>
            </div>
        </div>


        <div id="dropDownSelect1"></div>


    </body>
</html>